.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.labels {
    background-color: red;
    width: 50px;
    height: 50px;
}